# Compiler files
evm/cache/
evm/out/

# Ignores broadcast logs
evm/broadcast/

# Coverage files
coverage/
lcov.info

# Docs
docs/

# Dotenv file
.env

# YAML config with secrets
solver/config.yaml

# Mac OS files
.DS_Store

# NPM modules
node_modules

# Soljson
soljson-latest.js

# Gas report
gasreport.ansi

# Anchor/Rust files
.anchor
**/*.rs.bk
test-ledger
target
