# Localhost RPC URL
export LOCALHOST_RPC_URL=http://127.0.0.1:8545

# Mainnet RPC URLs
export MAINNET_RPC_URL=
export ARBITRUM_RPC_URL=
export BSC_RPC_URL=
export HYPERLIQUID_RPC_URL=
export LINEA_RPC_URL=
export OPTIMISM_RPC_URL=
export PLUME_RPC_URL=
export MANTRA_RPC_URL=

# Testnet RPC URLs
export SEPOLIA_RPC_URL=
export APECHAIN_TESTNET_RPC_URL=
export ARBITRUM_SEPOLIA_RPC_URL=
export BSC_TESTNET_RPC_URL=
export OPTIMISM_SEPOLIA_RPC_URL=
export SONEIUM_TESTNET_RPC_URL=

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=

export MAINNET_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=1"
export ARBITRUM_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=42161"
export BSC_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=56"
export HYPERLIQUID_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=999"
export OPTIMISM_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=10"
export PLUME_VERIFIER_URL="https://explorer.plume.org/api/"
export MANTRA_VERIFIER_URL="https://blockscout.mantrascan.io/api/"

export SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=11155111"
export APECHAIN_TESTNET_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=33111"
export ARBITRUM_SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=421614"
export BSC_TESTNET_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=97"
export OPTIMISM_SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=11155420"
export SONEIUM_TESTNET_VERIFIER_URL="https://soneium-minato.blockscout.com/api"